---
layout: page
title: Meetings
header: Meetings
exclude_from_search: true
---

<div class="row">
  <div class="span12">
    <div class="sidebar">
      <div class="row">
        <div class="span5" id="accordion2">
        {% for category in site.categories %} 
	{% if category[0] == "meeting" %}
            </div>
            <div id="{{ category[0] }}" class="accordion-body in" > <!-- add class="in" to start expanded -->
              <div class="accordion-inner">
                <ul>
                  {% assign pages_list = category[1] %}  
                  {% include JB/pages_list_categories %}
                </ul>
          </div>
        {% endif %}
        {% endfor %}
        </div>
      </div> <!-- end row--> 
    </div> <!-- end sidebar--> 
  </div> <!-- end row-->
</div> <!-- end span12-->
