  <p><i class="icon-list"></i> Posted in
    {% for category in page.categories %}
      <a rel="dc:subject" class="category" 
         href="{{ site.baseurl}}/categories.html#{{ category | cgi_escape }}">{{ category }}</a>
    {% unless page.categories.last == category %}, {% endunless %}
    {% endfor %}</p>

  <p> <i class="icon-tag"></i> tags:
    {% for tag in page.tags %}
    <!-- http://schema.org/BlogPosting/keywords -->
    <a rel="og:tag" class="tag" 
       href="{{ site.baseurl}}/tags.html#{{ tag | cgi_escape }}">#{{ tag }}</a>{% unless page.tags.last == tag %}, {% endunless %}
    {% endfor %}</p>

<aside prefix="dc: http://purl.org/dc/terms/">
  <p> <i class="icon-calendar"></i>
<time datetime="{{ page.date | date_to_xmlschema }}" 
      property="dc:created">{{ page.date | date_to_string }}</time></p>

</br>

  {% if page.previous %}
  <p><a class="btn btn-mini showtooltip" title="{{ page.previous.title }}" rel="prev" href='{{ site.baseurl}}{{ page.previous.url }}'><i class="icon-chevron-left"></i>previous</a>
  {% endif %}
  {% if page.next %}
  <a class="btn btn-mini showtooltip" title="{{ page.next.title }}" rel="next" href='{{ site.baseurl}}{{ page.next.url }}'>next <i class="icon-chevron-right"></i></a></p>
  {% else %}
    </p>
    {% endif %}

